body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgb(237, 237, 255);
}

.contenedorRegistro {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../img/formulario-nuevo-usuario/fondo-formulario.jpg");
}

.contenedorFormularioCompleto {
  background-color: white;
  width: 80%;
  height: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-image: url("../img/tienda/comidaPortada.webp");
  background-size: cover;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contenedorLogoClinica {
  background-color: rgb(44, 44, 207);
  border-radius: 15px;
  width: 4em;
  height: 4em;
  margin-bottom: 30px;
  box-shadow: 2px 2px 4px rgba(32, 32, 32, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.contenedorFormulario {
  background-color: white;
  border-radius: 15px;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.contenedorFormulario form {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.contenedorFormulario form input {
  border: none;
  /* Añade solo el borde inferior */
  border-bottom: 2px solid #979797; /* Puedes cambiar el grosor (2px) y el color (#333333) */
  /* Ajusto el padding para que el texto no toque el borde */
  /* (Opcional) Quita el fondo blanco por defecto */
  background-color: transparent;
  /* (Opcional) Quita el outline (el borde azul que aparece al hacer clic) */
  outline: none;

  margin: 0.5em;
}

.contenedorFormulario form .botonRegistarme {
    display: flex;
    justify-content: center;
}

.contenedorFormulario form .botonRegistarme input {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  background-color: rgb(79, 79, 244);
  color: white;
  box-shadow: 2px 2px 4px rgba(32, 32, 32, 0.4);
  padding: 8px 15px;
  border-radius: 15px;
  text-shadow: 2px 2px 4px rgba(32, 32, 32, 0.4);
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

/* Versión tablet */
/* Lo dejo igual que movil */

/* Versión escritorio */

@media (min-width: 1024px) {
  .contenedorFormularioCompleto {
    width: 60%;
  }

  .contenedorFormulario {
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
  }

  .contenedorFormulario form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    justify-content: center;
    align-items: center;
  }

   .contenedorFormulario form .botonRegistarme {
    display: flex;
    justify-content: center;
   }

  .contenedorFormulario form input {
    border: none;
    /* Añade solo el borde inferior */
    border-bottom: 2px solid #979797; /* Puedes cambiar el grosor (2px) y el color (#333333) */
    /* Ajusto el padding para que el texto no toque el borde */
    /* (Opcional) Quita el fondo blanco por defecto */
    background-color: transparent;
    /* (Opcional) Quita el outline (el borde azul que aparece al hacer clic) */
    outline: none;

    margin: 0.5em;
  }

.contenedorFormulario form .botonRegistarme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column: span 2
}

.contenedorFormulario form .botonRegistarme input {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  background-color: rgb(79, 79, 244);
  color: white;
  box-shadow: 2px 2px 4px rgba(32, 32, 32, 0.4);
  padding: 8px 15px;
  border-radius: 15px;
  text-shadow: 2px 2px 4px rgba(32, 32, 32, 0.4);
  margin-top: 15px;
  text-align: center;
  width: 40%;
}
}
