html {
    height: 100%;
}

body {
    background-color: rgb(169, 223, 252);
    height: 100%;
    min-height: 100%;
}

.contenedorAgenda {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
}

.contenedorAgenda h1 {
    color: rgb(0, 0, 207);
    text-align: center;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contenedorCitas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.contenedorDeTarjetas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.tarjeta {
    background-color: white;
    border-radius: 15px;
    width: 85%;
    height: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-color: rgb(119, 183, 252);
    border-width: 0.2em;
    border-style: solid;
}

.tarjeta table {
    margin: 0;
    width: 90%;
    color: rgb(0, 0, 181);
    text-align: center;
    width: 100%;
}

.tarjeta table caption {
    margin: 0.5em;
    text-align: center;
    font-size: 1.8em;
    font-weight:bold ;
}

.tarjeta table tr {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*.tarjeta table tr th{. TENIA ESTO PERO NO PODIA DEJAR LA LÍNEA DISCONTINUA
    text-align: center;
    width: 100%;
    border-bottom: 0.1em solid rgb(0, 0, 181);
}*/

.tarjeta table tr th { /* HICE ESTE PARA ODER HACERLO DISCONTÍNUA */
    text-align: center;
    width: 100%;
    background-image: linear-gradient(
        to right,
        transparent 10%,
        rgb(0, 0, 181) 10%,
        rgb(0, 0, 181) 90%,
        transparent 90%
    );
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.tarjeta table tr td{
    text-align: center;
    width: 100%;
    margin: 0.2em;
}

.contenedorGeneralClientesMascotas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42%;
}

.contenedorGeneralClientesMascotas .contenedorClientes, .contenedorGeneralClientesMascotas .contenedorMascotas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contenedorGeneralClientesMascotas .tarjetaMascotas, .contenedorGeneralClientesMascotas .tarjetaClientes {
    width: 80%;
}

.contenedorBotonRefrescarPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorBotonRefrescarPanel input {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    background-color: rgb(79, 79, 244);
    color: white;
    box-shadow: 2px 2px 4px rgba(32, 32, 32, 0.4);
    padding: 8px 15px;
    margin: 1em;
    border-radius: 8px;
    text-shadow: 2px 2px 4px rgba(32, 32, 32, 0.4);

}
